<nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">
      CRM
    </span>
  </div>
</nav>
<div class="container-fluid">
 
  <button type="button" class="btn btn-primary" (click)="onAdd()">Add</button>
</div>
<table *ngIf="persons" class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th> Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>
        {{person.id}}
      </td>
      <td>
        <span *ngIf="!person.editing">
          {{person.firstName}}
        </span>
        <span *ngIf="person.editing">
          <input type="text" [(ngModel)]="person.firstName" />
        </span>

      </td>
      <td>
        <span *ngIf="!person.editing">
          {{person.lastname}}
        </span>
        <span *ngIf="person.editing">
          <input type="text" [(ngModel)]="person.lastname" />
        </span>
        
      </td>
      <td>
        <span *ngIf="!person.editing">
          {{person.email}}
        </span>
        <span *ngIf="person.editing">
          <input type="text" [(ngModel)]="person.email" />
        </span>
        <td>
          <span *ngIf="person.editing">
            <button (click)="onEdit(!person.editing,person,person.id)" class="btn btn-primary">Save</button>
          </span>
          <span *ngIf="!person.editing">
            <button [hidden]="person.editing" (click)="IsEdit(person.editing,person)" class="btn btn-primary">
              Edit
            </button>
            <span *ngIf="person.editing">
              <button (click)="onclear()" class="btn btn-primary">
                clear
              </button>
            </span>
          </span>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="ondelete(person.id)">Delete</button>
        </td>
    </tr>
  </tbody>
</table>
<div *ngIf ="isadd">
  <app-create select=".title" (onCloseClick)="onclear()">
    
  </app-create>
</div>